body {
    margin: 0;
    text-align: center;
}

.hero {
    font-family: 'Inter';
    background: #6943fe;
    color: white;
    padding: 30px;
}

.main {
    font-family: 'Inter';
    background: #f4f4f4;
    padding: 10px;
}

.section {
    background: white;
    padding: 5px;
}

h3 {
    color: #5A537B;
}

p {
    color: #353535;
}

.section1 {
    background: white;
    margin: 10px 0px;
    padding: 5px;
}

.section2 {
    background: white;
    margin: 10px 0px;
    padding: 5px;
}

#convert-btn {
    margin-top: 20px;
    padding: 8px 24px;
    font-family: Inter;
    font-size: 14px;
    color: #6943fe;
    background: #ffffff;
    border: 0px solid;
    border-radius: 3px;
}

#input-el {
    background: #6943fe;
    border: 2px solid #B295FF;
    width: 120px;
    height: 83px;
    font-family: Inter;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    color: #ffffff
}